<%- include('../partials/admin_partials/adminHeader') %>

<div class="container-fluid w-100 h-100 p-0 pt-5">
  <%- include('../partials/admin_partials/adminNavbar') %>
  <div class="container w-75 mt-5">
    <form class="input-group m-3 d-flex justify-content-end px-4" action="/admin/dashboard" method="get">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control bg-dark text-white" placeholder=" Search user..." name="search" />
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <div class="row w-100 mb-2 bg-dark text-white fs-5">
      <div class="">SL.NO</div>
      <div class="">Name</div>
      <div class="">Email</div>
      <div class="">Phone number</div>
      <div class="">
        <a class="btn btn-success" href="/admin/add-user"
          ><i class="fa-solid fa-user-plus"></i> Add user</a
        >
      </div>
    </div>
    <% if(locals.users){ %> <% users.map((element,index)=>{ %>
    <div class="row w-100 mb-2 bg-dark text-white">
      <div class=""><%= index+1 %></div>
      <div class=""><%= element.name %></div>
      <div class=""><%= element.email %></div>
      <div class=""><%= element.phone %></div>
      <div class="justify-content-evenly">
        <a class="btn btn-primary" href="/admin/edit-user?id=<%= element._id %>"
          ><i class="fa-solid fa-pen"></i></a
        ><a
          href="/admin/delete-user?id=<%= element._id %>"
          onclick="return confirm('Are you sure you want to delete <%= element.name %>')"
          class="btn btn-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </div>
    </div>
    <% }) %> <% }else{ %>
    <div
      class="row w-100 bg-dark d-flex justify-content-center align-items-center text-danger"
    >
      No users found
    </div>
    <% } %>
  </div>
</div>

<%- include('../partials/admin_partials/adminFooter') %>
